<!--<configuration>-->
<!--	&lt;!&ndash; 控制台输出 &ndash;&gt;-->
<!--	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--		<encoder>-->
<!--			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>-->
<!--		</encoder>-->
<!--	</appender>-->

<!--	&lt;!&ndash; 设置 Spring 日志级别 &ndash;&gt;-->
<!--	<logger name="org.springframework" level="ERROR"/>-->
<!--	<logger name="org.springframework.context" level="ERROR"/> &lt;!&ndash; 可选：更细粒度控制 &ndash;&gt;-->

<!--	<root level="ERROR">-->
<!--		<appender-ref ref="CONSOLE"/>-->
<!--	</root>-->
<!--</configuration>-->